*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    background: lightgrey;
}
.header-main-div{
   height:60px;
   background: linear-gradient(0deg, rgba(228,228,228,1) -1%, rgba(224,147,165,1) 0%, rgba(223,114,139,1) 23%, rgba(222,89,119,1) 32%, rgba(221,53,91,1) 48%, rgba(220,28,71,1) 62%, rgba(219,6,54,1) 81%);
}
main{
    height:calc(100vh - 60px);
    position: relative; 
}
.record-backg{
    height: 15rem;
    z-index: -6;
    background-image: url("foot.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
    filter: blur(.5px);
}

.record-data{
    z-index: 3;
    background-color:#cbc3e3f6	;
    overflow-y: scroll;
    height: calc(100% - 10rem);
    width: 100%; 
    position: absolute;
    top: 10rem ;
    left: 0;     
    border-top-left-radius:3rem;
    border-top-right-radius:3rem;
    box-shadow: 0 0 100px -1px black;

}
.record-data > h2{
    padding: .5rem 0;
    width: 100%;
    text-align: center;
}
.match-card {
    text-align: center;
    margin-top: 1rem;
}
.div2{
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.832); */
    background-color: rgba(255, 245, 238, 0.873);
}
.match-card > .div2{
    overflow: hidden;
    padding: .5rem 0;
    display: grid;
    grid-template-rows: 4rem;
    grid-template-columns:2fr 1fr 2fr;
}
.match-card > .div2 > span{
    overflow: hidden;
}
.match-card > .div2 > span > h2{
    white-space: nowrap;
}
.match-card .div2 span:nth-of-type(1){
    align-self: center;
}
.match-card .div2 span:nth-of-type(3){
    align-self: center;
}
.second-match-card{
    margin-top:.4rem;
    margin-left: .3rem;
    margin-right: .3rem;
    background-color:rgba(44, 18, 192, 0.411);
    height: 2.5rem;
    display: grid;
    place-items: center;
    grid-template-columns: 2fr 1fr 2fr;
    border-radius: .5rem;
    text-transform: uppercase;
}
